<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Contas Correntes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body class="bg-gray-50 dark:bg-gray-900">
    <div class="container mt-5">
      {{#erro}}
      <div class="alert alert-danger alert-dismissible">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
        ></button>
        <strong>{{erro}}</strong> não foi possível concluir o listagem das
        movimentações correntes.
      </div>
      {{/erro}}

      <h1 class="flex flex-col items-center justify-center text-white text-3xl font-bold">Extrato</h1>
      <form action="/conta/filtrar/extrato" method="post">
        <div class="row">
          <div class="col-4">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="periodo_inicial"
              >Período Inicial</label
            >
            <input
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              type="date"
              id="periodo_inicial"
              name="periodo_inicial"
              required
            />
          </div>
          <div class="col-4">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="periodo_final">Período Final</label>
            <input
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              type="date"
              id="periodo_final"
              name="periodo_final"
            />
          </div>
          <div class="col-12">
            <table class="table table-striped">
              <thead>
                <tr class="text-base font-normal leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  <th>ID</th>
                  <th>Tipo de Movimentação</th>
                  <th>Data de Movimentação</th>
                  <th>Valor</th>
                  <th>Conta de origem</th>
                  <th>Conta de destino</th>
                  <th>Observação</th>
                </tr>
              </thead>

              <tbody>
                {{#movimentacoes}}
                <tr>
                  <td class="font-normal text-white md:text-2xl ">{{id}}</td>
                  <td class="font-normal text-white md:text-2xl ">{{tipo}}</td>
                  <td class="font-normal text-white md:text-2xl ">{{data_movimento}}</td>
                  <td class="font-normal text-white md:text-2xl ">{{valor}}</td>
                  <td class="font-normal text-white md:text-2xl ">{{conta_corrente_origem}}</td>
                  <td class="font-normal text-white md:text-2xl ">{{conta_corrente_destino}}</td>
                  <td class="font-normal text-white md:text-2xl ">{{observacao}}</td>
                </tr>
                {{/movimentacoes}}
              </tbody>
            </table>
            <div
              class="d-flex align-items-center d-flex justify-content-center mt-3 gap-5"
            >
              <button type="submit" class="text-white-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 white:border-white dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">
                Filtrar
              </button>
              <a class="text-white-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 white:border-white dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800" href="/conta/listar" role="button"
                >Listar</a
              >
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.js"></script>
  </body>
</html>
